body {
    background: rgb(10, 17, 23);
    font-family: Arial;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    outline: none;
    background: none;
    color: inherit;
}

.blok {
    border-radius: 20px;
    transition: transform 0.2s;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.intro {
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 50px;
    max-width: 500px;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    text-align: center;
}


a {
    text-decoration: none;
}

.blok-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blok {
    user-select: none;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
}


.button {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -170px;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: -300px;
}

.maintitle1 {
    font-size: 40px;
    display: flex;
    color: white;
}

.maintitle2 {
    font-size: 40px;
    display: flex;
    margin-left: 10px;
    color: #ffb4d3;
}

.mini {
    font-size: 20px;
    display: flex;
    color: white;
    margin-top: -20px;
    text-align: center;
    max-width: 500px;
    font-weight: lighter;

}

.intro-mini {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blok:active {
    transform: scale(0.98);
}

.blok:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.blok {
    width: 100px;
    height: 50px;
    justify-self: center;
    flex-direction: row;
    display: flex;
    font-size: 13px;
}

.blok-container>div {
    display: flex;
    flex-direction: column;
}

.login {
    background-color: rgb(36, 50, 64);
    color: white;
    border-radius: 10px;
    font-size: 15px;
    width: 80px;
    height: 40px;
    margin-left: 200px;
}

.starter {
    background-color: rgb(206, 171, 255);
    color: black;
    width: 150px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pijltjes {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ready {
    font-size: 45px;
    color: #e5e5e5;
    margin-bottom: 20px;
    font-weight: lighter;
    margin-top: 100px;
}

.ready-container {
    justify-content: center;
    align-content: center;
    display: flex;

}


img {
    user-select: none;
}

.rdy-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sterretjes-container {
    display: flex;
    margin-top: -110px;
    justify-content: flex-start;
    margin-left: -800px;
}

.knop-container1 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    margin-bottom: 30px;
    max-width: 300px;
}

.knop-container2 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    margin-bottom: 16px;
    max-width: 300px;
}

.knoppen {
    margin-top: 50px;
}

.knop {
    background-color: rgb(24, 39, 51);
    width: 150px;
    border-radius: 70px;
    margin-top: -20px;
    height: 48px;
    font-size: 16px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

.knop:active {
    transform: scale(0.98);
}

.knop:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.invest {
    color: rgb(255, 181, 212);
}

.startup {
    color: rgb(255, 195, 77);
}

.service {
    color: #d387f7;
}

.community {
    color: #74dff8;
}

.impact {
    color: #23c9de;
}

.defi {
    color: #ff9e9e;
}

.more {
    color: #505f6d;
}

.spelfoto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: -280px;

}

.spelfoto {
    height: 400px;
    width: 900px;
    display: flex;
}

.speltekst {
    background-color: #ffb4d3;
    width: 300px;
    border-radius: 70px;
    margin-left: -600px;
    margin-top: 410px;
    height: 35px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rijtje-container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    font-size: 20px;
    color: #37424d;
    text-align: center;
    font-weight: bold;
}



.designed {
    color: #e6e6e6;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.launch {
    color: #ffb5d4;
}

.ster2 {
    display: flex;
    margin-left: 850px;
    margin-bottom: -100px;
    margin-top: 120px;
}

.lijn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-size: 40px;
}

.works {
    color: #e5e5e5;
    display: flex;
    font-size: 45px;
    justify-content: center;
    margin-top: 70px;
}

.ster3 {
    display: flex;
    margin-left: 60px;
    margin-bottom: -100px;
    margin-top: 120px;
}

.ster4 {
    display: flex;
    margin-left: 700px;
    margin-bottom: -100px;
    margin-top: -80px;
}

.symbool-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 30px;

}

.symbool {
    display: flex;
    width: 50px;
    height: 50px;
}

.box-symbool {
    background-color: #162028;
    border: solid #2a3744;
    border-width: 1px;
    border-radius: 30px;
    width: 130px;
    height: 130px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box-symbool-text {
    color: #e6e6e6;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: lighter;
    gap: 100px;
}

.snapshot-text {
    margin-left: -10px;
}

.ens-text {
    margin-left: 25px;
}

.opensea-text {
    margin-left: 30px;
}

.help {
    color: #e5e5e5;
    display: flex;
    font-size: 45px;
    justify-content: center;
    margin-top: 70px;
}

.help-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.foto {
    width: 130px;
    height: 130px;
    border-radius: 30px;
}

.help-text {

    color: #e5e5e5;
    font-size: 30px;
    margin-top: 10px;

}

.help-text-container1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1000px;
}

.help-text-container2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1000px;
}

.help-text-container3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1000px;
}

.help-text-container4 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1000px;
}

.help-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}

.mini-ster {
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.weekly-digest {
    color: #e5e5e5;
    display: flex;
    font-size: 45px;
    justify-content: center;
    margin-bottom: 20px;

}

.latest-news {
    color: #647688;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 30px;
}

.mailbox {
    background-color: #14222f;
    border-radius: 20px;
    border: solid #2a3744;
    padding-bottom: 70px;
    margin-top: 100px;
}


.subscribe {
    display: flex;
    background-color: #ceaaff;
    padding: 15px 25px 15px 25px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.mail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    gap: 20px;
}

.email-input {
    color: #3d4c5b;
    background-color: #121e28;
    border-radius: 10px;
    border: solid #273441;
    border-width: 2px;
    display: flex;
    padding: 15px 200px 15px 15px;
    font-size: 20px;

}

.subscribe:active {
    transform: scale(0.98);
}

.subscribe:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.press {
    color: #e5e5e5;
    display: flex;
    font-size: 40px;
    justify-content: flex-start;
    margin-top: 150px;
    margin-bottom: 20px;
}

.sterren5 {
    display: flex;
    height: 50px;
    width: 60px;
    margin-top: 110px;
    margin-left: 60px;

}

.press-line {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.see-all {
    display: flex;
    color: #647688;
    font-size: 16px;
    margin-left: 850px;
    margin-top: 180px;
    cursor: pointer;
    font-weight: bolder;
}

.lightarrow {
    margin-left: 10px;
    margin-top: 4px;
    width: 12px;
    height: 12px;
}

.darkarrow {
    margin-left: 10px;
    margin-top: 4px;
    width: 12px;
    height: 12px;
}

.pressbox1 {
    background-color: #77e6ff;
}

.pressbox2 {
    background-color: #e2c1f9;
}

.pressbox3 {
    background-color: #dbe268;
}

.bigpress {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
}

.kubus {
    padding: 30px;
    width: auto;
    height: auto;
    border-radius: 20px;
    max-width: 320px;
}

.blockworks {
    display: flex;
    width: 160px;
    height: 30px;
}

.reading {
    display: flex;
    cursor: pointer;
    font-weight: bolder;
}

.lil-text {
    font-size: 30px;
}

.lil-bio {
    font-size: 20px;
    font-weight: lighter;
    margin-top: -10px;
    margin-bottom: 40px;
    color: #3a3746;
}

.podcast-text {
    font-size: 40px;
    color: #e5e5e5;
    font-weight: bold;
}

.podcasts-upper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 250px;
}

.see-all2 {
    display: flex;
    color: #647688;
    font-size: 16px;
    margin-left: 750px;
    margin-top: 50px;
    cursor: pointer;
    font-weight: bolder;
}

.sterren6 {
    display: flex;
    margin-left: -20px;
    margin-top: -60px;
}

.podcast-box {
    background-color: #162028;
    border: solid #2a3744;
    border-width: 2px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.podcast-image {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: solid #2a3744;
    border-width: 2px;
    margin-left: -200px;
}

.podcast-lower {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
}

.podcast-title {
    font-size: 18px;
    color: #e5e5e5;
    font-weight: bold;
}

.podcast-bio {
    font-size: 14px;
    color: #b8babc;
    font-weight: lighter;
    margin-top: -10px;
    max-width: 170px;
    margin-left: -120px;
}

.listening {
    display: flex;
    cursor: pointer;
    font-weight: bolder;
    color: white;
    margin-left: -230px;
    margin-top: 20px;
}

.driester {
    display: flex;
    margin-left: 550px;
    margin-bottom: -400px;
    margin-top: 100px;
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
}

.question {
    color: #e5e5e5;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.question-bio {
    color: #5a6c7e;
    font-size: 40px;
    text-align: center;
    margin-top: -1px;
}

.telegram-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: #ffc803;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    gap: 20px;
    cursor: pointer;
}

.mailing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: #e2c1f9;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    gap: 20px;
    cursor: pointer;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

.telegram-image {
    width: 40px;
    height: 40px;
    margin-left: -20px;
}

.mailing-image {
    width: 40px;
    height: 40px;
    margin-left: -20px;
}

.mailing-text {
    color: #40354b;
    font-size: 20px;
    font-weight: bold;
}

.telegram-text {
    color: #4d3705;
    font-size: 20px;
    font-weight: bold;
}

.mailing-user {
    color: #746283;
    font-size: 13px;
}

.telegram-user {
    color: #826204;
    font-size: 13px;
}

.mailing-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.telegram-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #121e28;
    height: auto;
    width: auto;
}

.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: #647688;
    font-size: 16px;
}

.icon-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-left: 200px;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 500px;
    font-size: 25px;
}

.button-about {
    cursor: pointer;
    color: white;
}

.button-jobs {
    cursor: pointer;
    color: white;
}

.button-legal {
    cursor: pointer;
    color: #ffc803;
}

.message-box {
    color: #3d4c5b;
    background-color: #121e28;
    border-radius: 10px;
    border: solid #273441;
    border-width: 2px;
    display: flex;
    padding: 15px 200px 230px 15px;
    font-size: 20px;
}

.send-button {
    background-color: #ceaaff;
    color: black;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 40px;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 500px;
    text-align: center;
}

.sending {
    font-size: 30px;
    color: #e5e5e5;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #3d4c5b;
    background-color: #121e28;
    border-radius: 10px;
    border: solid #273441;
    border-width: 2px;
    padding: 15px 252px 15px 15px;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 100px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 100px;
    gap: 20px;
}

.john {
    background-color: #ffb4d3;
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.john-image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    margin-top: 30px;
    justify-self: center;
}

.john-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    padding: 0 10px 0 10px;
}

.john-role {
    font-size: 14px;
    font-weight: lighter;
    margin-top: 10px;
    display: flex;
    padding: 0 10px 0 10px;
}

.john-contact {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    margin-left: 150px;
    cursor: pointer;
}

.heroes {
    font-size: 40px;
    display: flex;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    justify-content: center;
}